.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  margin: auto;
}
.img {
  width: 250px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.bigtext {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
  text-align: center;
}
.smalltext {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
